h1 {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 2rem;
    
    padding-bottom: 40px;
    font-size: 2.5rem;
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    justify-content: center;
    align-content: center;
    margin: 1.5rem;
}

li {
    background: var(--card);
    border: 1px solid #5B5B5B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1.25rem;
    border-radius: 1.5rem;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: column;
   
    transition: 0.3s; 
}

li:hover {
    box-shadow: 0 8px 16px 0 rgba(248, 245, 245, 0.2);
}

.container {
    max-width: 1200px;  
    margin: 0 auto;
}

.container div, li {
    flex: 1 1 350px;
}

.title {
    display: block;
    font-size: 1.5rem;
    color: var(--purple);
    font-weight: bold;
    text-align: center;
    text-decoration: none;   
}

img {
    margin: 30px;
}

span {
    display: block;
    font-weight: bold;
}

strong {
    font-size: 1.4rem;
}

.card-img {
    height: 100%;
}

.card-content{
    height: 100%;
}

@media (min-width: 764px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .container li {
        flex-direction: row;
    }
}