.backgroundmodal {
    width: 100%;
    height: 100%;
    background: var(--gray-900);
    position: relative;
}

.modalclose {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    z-index: 10;
}

.modalcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    color: #fff;
}


